<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="COM" value="COM1"/>
    <add key="COLUMN" value="column_id=5"/>

    <!--
    <add key="DB" value="Database = broadcasting_shake_db; Data Source=localhost; User Id= root; password =;"/>
    -->
    
    <!--
    <add key="DB" value="Database = broadcasting_shake_db; Data Source = 58.211.191.118; Port=3306; User ID = root; password =123456;"/>
    -->

    
      <add key ="DB" value ="Database = broadcasting_shake_db; Data Source=58.211.191.105; Port=3306; User Id= root; password =20140818;"/>
    
    
    
      
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
